.card img{
    width: mx-auto;
    height: 250px;
}


.img-logo{

    transform: translateX(0px);
    animation: float 5s  ease-out infinite;

}
@keyframes float {
    0% {
        transform: translateY(0px);

    }
    50% {
        transform: translateY(-25px);

    }
    100% {
        transform: translateY(0px);

    }

}

